[features]
seeds = false
skip-lint = false

[programs.localnet]
fp_registry = "Fg6PaFpoGXkYsidMpWxTWqkZcGm7b9rZ5kVYbqZzYb"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "anchor test"